@import url('../base/_variables.css');
@import url('../base/_typography.css');

.main-view {
    background-color: var(--main-view-background-color);
    padding: 60pt;
    margin: 20pt 0;
    border-radius: var(--main-view-border-radius);

    width: 550pt;
}

@media (min-width: 1930px) {
    .main-view {
        width: 650pt;
        padding: 70pt;
        margin: 30pt 0;
        border-radius: var(--main-view-border-radius-lg);
    }
}

@media (max-width: 1023px) {
    .main-view {
        width: 500pt;
        padding: 50pt;
        margin: 15pt 0;
    }
}

@media (max-width: 767px) {
    .main-view {
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 30pt;
        border-radius: 0;
    }
}