@use '../settings/themes' as *;
@use '../settings/mixins' as *;
@use '../settings/breakpoints' as *;
@use './shared/icon' as *;
@use './shared/base-icon-button' as *;

.new-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

  &__name {
    height: 3.3rem;
    border: themed(border-thickness) solid themed(border-color);
    border-radius: themed(border-radius);
    background-color: transparent;

    padding: 0 1rem;
    margin-right: 1.25rem;

    flex-grow: 1;

    color: themed(text-header);
    font-size: themed(font-size-primary-base);

    &::placeholder {
      color: themed(text-placeholder);
      font-size: themed(font-size-secondary-base);
    }
  }

  &__add {
    @extend .base-icon-button;

    height: 3.3rem;
    padding: 0.417rem;
    background-color: themed(button-primary-bg);

    transition: background-color 0.3s ease;

    .icon {
      @extend .icon;

      color: themed(button-primary-content);

      height: 1.8rem;

      -webkit-mask-image: url('../../images/plus.svg');
      mask-image: url('../../images/plus.svg');
    }

    &:hover {
      background-color: themed(button-primary-bg-hover);
    }

    &:focus-visible {
      background-color: themed(button-primary-bg-hover);
    }

    &:active {
      background-color: themed(button-primary-bg-active);
    }
  }

  @include respond($from: xl) {
    &__name {
      height: 4.167rem;
      padding: 0 1.25rem;
      border-radius: themed(border-radius-lg);

      &::placeholder {
        font-size: themed(font-size-secondary-lg);
      }
    }

    &__add {
      height: 4.167rem;
      padding: 0.48rem;
      border-radius: themed(border-radius-lg);
    }
  }

  @include respond($to: sm) {
    flex-direction: column;
    gap: 0.833rem;

    &__name {
      height: 2.917rem;
      width: auto;
      margin-right: 0;
    }

    &__add {
      height: 2.917rem;
      flex-grow: 1;
      aspect-ratio: auto;
    }
  }

  @include respond($to: xs) {
    gap: 0.417rem;

    &__name {
      height: 2.5rem;
      font-size: themed(font-size-primary-sm);
      border-radius: themed(border-radius-sm);

      &::placeholder {
        font-size: themed(font-size-secondary-sm);
      }
    }

    &__add {
      height: 2.5rem;
      padding: 0.583rem;

      .icon {
        height: 1.25rem;
      }
    }
  }
}