@use '../settings/mixins' as *;
@use '../settings/themes' as *;
@use '../settings/breakpoints' as *;
@use './shared/icon' as *;
@use './shared/base-icon-button' as *;

.task-item {
    background-color: themed(item-bg);
    color: themed(text-card);
    margin-top: 1rem;
    border-radius: themed(border-radius);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1.8rem 1.8rem 1.8rem 2.2rem;

    transition: background-color 0.3s ease;

  &:hover {
    background-color: themed(item-bg-hover);
  }

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }

  &.done-task-item {
    color: themed(text-card-done);
    text-decoration: line-through;

    .task-item__actions {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
    }

    &:hover {
      .task-item__actions {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.42rem;
    padding-left: 1.667rem;
  }

  &__actions-button {
    @extend .base-icon-button;

    width: 2.8rem;
    height: 2.8rem;

    &--check .icon {
      -webkit-mask-image: url('/images/check.svg');
      mask-image: url('/images/check.svg');
    }

    &--trash .icon {
      -webkit-mask-image: url('/images/trash.svg');
      mask-image: url('/images/trash.svg');
    }

    &--cross .icon {
      -webkit-mask-image: url('/images/cross.svg');
      mask-image: url('/images/cross.svg');
    }

    .icon {
      color: themed(text-card);

      width: 1.3rem;
      height: 1.3rem;
    }

    &:focus-visible {
      background-color: themed(action-bg-hover);
    }

    &:active {
      background-color: themed(action-bg-active);
    }

    @include respond($to: xs) {
      width: 2.2rem;
      height: 2.2rem;

      border-radius: themed(border-radius-sm);

      .icon {
        width: 1rem;
        height: 1rem;
      }
    }

    @include respond($to: sm) {
      width: 3.2rem;
      height: 3.2rem;

      .icon {
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    @include respond($to: xl) {
      border-radius: themed(border-radius-lg);

      width: 3.3rem;
      height: 3.3rem;

      .icon {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }

  @include respond($from: lg) {
    padding: 2rem 2rem 2rem 2.5rem;
  }

  @include respond($to: sm) {
    padding: 1.8rem 1.8rem 1.8rem 2.2rem;
  }

  @include respond($to: xs) {
    padding: 1.2rem 1.2rem 1.2rem 1.5rem;
  }
}
