@use '../settings/mixins' as *;
@use '../settings/themes' as *;

.task-item {
    background-color: themed(item-bg);
    color: themed(text-card);
    margin-top: 1rem;
    border-radius: themed(border-radius);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1.8rem 1.8rem 1.8rem 2.2rem;

    transition: background-color 0.3s ease;

  &:hover {
    background-color: themed(item-bg-hover);
  }

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }

  &.done-task-item {
    color: var(--text-color-card-done);
    text-decoration: line-through;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.42rem;
    padding-left: 1.667rem;

    &.done-task-item {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .done-task-item:hover & {
      opacity: 1;
      visibility: visible;
    }
  }
}

@media (min-width: 1930px) {
    .task-item {
        padding: 2rem 2rem 2rem 2.5rem;
    }
}

@media(max-width: 767px) {
    .task-item {
        padding: 1.8rem 1.8rem 1.8rem 2.2rem;
    }
}

@media (max-width: 480px) {
    .task-item {
        padding: 1.2rem 1.2rem 1.2rem 1.5rem;
    }
}
