@import url('../base/_variables.css');
@import url('../base/_typography.css');

.task-item {
    background-color: var(--item-background-color);
    color: var(--text-color-card);
    margin-top: 10pt;
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 15pt 15pt 15pt 20pt;

    transition: background-color 0.3s ease;
}

.task-item:hover {
    background-color: var(--item-background-color-hover);
}

.task-item__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    flex-grow: 1;
}

.task-item__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5pt;
    padding-left: 20pt;
}

.done-task-item {
    color: var(--text-color-card-done);
    text-decoration: line-through;
}

.done-task-item .task-item__actions {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.done-task-item:hover .task-item__actions {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1930px) {
    .task-item {
        padding: 20pt 20pt 20pt 25pt;
    }
}

@media (max-width: 480px) {
    .task-item {
        padding: 10pt 10pt 10pt 15pt;
    }
}