@use '../settings/mixins' as *;
@use '../settings/themes' as *;
@use '../settings/breakpoints' as *;

.task-section {
    margin-top: 2.8rem;

  &__header {
    color: themed(text-header);
    font-weight: themed(font-weight-bold);
  }

  @include respond($to: sm) {
    margin-top: 2.5rem;
  }

  @include respond($to: xs) {
    margin-top: 2rem;
  }
}
