.icon {
  background-color: currentColor;

  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;

  height: auto;
  width: auto;
  aspect-ratio: 1 / 1;
  display: block;
}