@use "../settings/breakpoints" as bp;
@use "variables" as v;
@use "typography" as typ;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--body-background-color);

  font-family: typ.$font-family, sans-serif;
  font-size: var(--font-size-primary-base);
  font-weight: var(--font-weight-regular);

  @include bp.respond(lg, null) {
    font-size: var(--font-size-primary-lg);
  }

  @include bp.respond(null, md) {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  @include bp.respond(null, sm) {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  @include bp.respond(null, xs) {
    font-size: var(--font-size-primary-sm);
  }
}
