@use '../settings/mixins' as *;
@use '../settings/themes' as *;
@use '../settings/breakpoints' as *;
@use "variables" as v;
@use "typography" as typ;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: themed(body-bg);

  font-family: themed(font-family), sans-serif;
  font-size: themed(font-size-primary-base);
  font-weight: themed(font-weight-regular);

  @include respond($from: lg) {
    font-size: themed(font-size-primary-lg);
  }

  @include respond($to: md) {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  @include respond($to: sm) {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  @include respond($to: xs) {
    font-size: themed(font-size-primary-sm);
  }
}
